body {
    background-color: #13141A;
    color: white;
}

p.source {
    font-family: Impact, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    color: white;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: .1em;
    -webkit-text-stroke-color: Black;
    top: 0;
    left: 0;
    position: absolute;
    margin-left:20px
}

iframe {
    border: none;
}
